.container {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: yellow;
  }
  
  .container img {
    width: 100px;
    height: 100px;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  img {
      height:100px;
      width: 100px;
  }

.a {
font-weight: 24px;
color: greenyellow;
text-align: center;
}

  